.Home_HeroSection {
  height: 100vh;
}

.bg-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.ActionContainer {
  z-index: 2;
}

.Home .Logo {
  width: 100%;
  max-width: 400px;
}

.Home p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.Home .ActionBtn {
  background-color: black;
  border: 1px solid black;
  font-family: "Open Sans", sans-serif;
  color: white;
  min-width: 150px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.Home .ActionBtn:hover {
  transform: translateX(5px);
  transition: all 0.3s ease-in-out;
  border: 1px solid white;
  background-color: transparent;
}

@media (max-width: 576px) {
  .ActionContainer {
    width: 100%;
  }
}

/* ******************************************** */
/* 1st section */
/* .container {
  width: 100vw;
  height: 100vh;
} */

/* .bg-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
} */

/* #navbar {
  width: 100vw;
  height: 100px;
  padding: 20px 50px;
  background: #00000003;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
}

.container > .home-info {
  width: 50%;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end !important;
  position: absolute;
  top: 50%;
  right: 40px;
}
.container > .home-info > .col > .image-1 {
  width: 200px;
  position: absolute;
  top: -79px;
  right: 481px;
}

.container > .home-info > .col > .title {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 10px 0;
}

.container > .home-info > .col > button {
  background-color: black;
  border: 2px solid black;
  padding: 7px 15px;
  color: white;
  margin: 10px 0;
}

.container > .home-info > .col > button:hover {
  transform: translate(0, -5px);
  transition: all 0.3s ease-in-out;
  border: 1px solid white;
} */

/* .border-bottom {
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
}
.border-bottom > img {
  width: 100vw;
} */

/* 2nd section */
.container_1 {
  height: 100vh !important;
}

.container_1 > .border-top {
  /* width: 100vw;
  position: absolute;
  top: -5px;
  left: 0; */
}

/* .container_1 > .border-top > img { */
/* width: 100vw; */
/* position: relative;
  top: 0px;
  left: 0;
} */

.container_1 > .secret-sauce {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_1 > .secret-sauce > .d-flex > .secret-sauce-info {
  width: 80%;
  /* height: 42%; */
  background-color: #0707071c;
  padding: 30px 40px;
  border-radius: 20px 20px 0px 0px;
}

.container_1 > .secret-sauce > .d-flex > .secret-sauce-info > .title {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  color: rgb(119, 247, 109);
  font-weight: bold;
  direction: ltr;
  margin-left: 0em;
  line-height: 1.38762092em;
  text-align: left;
  text-transform: none;
  letter-spacing: 0em;
  filter: drop-shadow(0em 0em 0.01653125em rgba(20, 211, 2, 0.95))
    drop-shadow(0em 0em 0.08265625em rgba(26, 233, 9, 0.75))
    drop-shadow(0em 0em 0.24796875em rgba(20, 187, 5, 0.44));
  transform: translateZ(0px);
  margin: 5px 0;
}

.container_1 > .secret-sauce > .d-flex > .secret-sauce-info > .unity {
  font-family: "Big Shoulders Display", cursive;
  font-size: 50px;
  color: #ffffff;
  font-weight: 900;
  direction: ltr;
  margin-left: 0em;
  line-height: 1.38762092em;
  text-align: left;
  text-transform: none;
  letter-spacing: 0em;
  margin: 5px 0;
}
.container_1 > .secret-sauce > .d-flex > .secret-sauce-info > .gaming-info {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  direction: ltr;
  margin-left: 0em;
  line-height: 1.38762092em;
  text-align: left;
  text-transform: none;
  letter-spacing: 0em;
  margin: 5px 0;
}

/* .container_1 > .secret-sauce > .unity_col {
  width: 60%;
  height: 40%;
  padding: 30px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-image: url("../assest/stop-image.png");
  background-repeat: no-repeat;
  background-size: cover; 
} */

.container_1 > .secret-sauce > .d-flex > .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_1 > .secret-sauce > .d-flex > .row > .col-lg-6 {
  width: 40%;
  height: 200%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: url("../assets/box.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}

/* .container_1 > .secret-sauce > .unity_col > .col-1 > img,
.container_1 > .secret-sauce > .unity_col > .col-2 > img {
  width: 180px;
} */

.container_1 > .BorderBottom {
  position: absolute;
  bottom: -220px;
  left: -34px;
  z-index: 66666;
  transform: rotateX(138deg);
}

/* .container_1 > .border-bottom > img {
  width: 100vw;
} */

/* 3rd section */
.container_2 {
  height: 100vh !important;
}

.container_2 > .container > .skills-meet {
  /* height: 100%; */
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
}
/* .container_2 > .skills-meet > .col-1 {
  width: 40% !important;
  background-color: rgba(0, 0, 0, 0.404);
  padding: 20px 20px;
  margin-left: 150px;
/* } */

.container_2 > .container > .skills-meet > .col-12 > .side-image-1 {
  width: 200px;
  position: absolute;
  top: 96px;
  left: 65px;
  transform: rotate(323deg);
  z-index: -1;
}

.container_2 > .container > .skills-meet > .col-12 > .skills-title {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.container_2
  > .container
  > .skills-meet
  > .col-12
  > .skills-title:nth-child(3) {
  font-family: "Open Sans", sans-serif;
  color: #ffcf00;
  font-size: 50px;
  font-weight: bold;
}

.container_2 > .container > .skills-meet > .col-12 > .skills-info {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.47615456em;
  text-transform: none;
  letter-spacing: 0em;
  margin: 10px 0;
}

.container_2 > .container > .skills-meet > .col-12 > .button {
  font-family: "Open Sans", sans-serif;
  background: #ff0099;
  font-weight: 500;
  font-size: 20px;
  color: white;
  padding: 5px 20px;
  border: none;
  margin: 10px 0;
  float: left;
}

/* .container_2 > .skills-meet > .col-2 {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 150px;
} */

.container_2 > .container > .skills-meet > .col-12 > .side-image-2 {
  width: 200px;
  position: absolute;
  top: 95px;
  right: 65px;
  transform: rotate(404deg);
  z-index: -1;
}

.container_2 > .container > .skills-meet > .col-12 > .recording-game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container_2 > .container > .skills-meet > .col-12 > .recording-game > img {
  object-fit: cover;
  position: absolute;
}

.container_2
  > .container
  > .skills-meet
  > .col-12
  > .recording-game
  > .racing-video {
  width: 94%;
  object-fit: cover;
}

.container_2 > .border-bottom-plate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.container_2 > .border-bottom-plate > img {
  width: 10%;
}

/* 4th section */
.container_3 {
  height: 100vh !important;
}

.container_3 > .core-vision {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_3 > .core-vision > .bg-image {
  width: 50%;
  position: absolute;
  top: -80px;
  opacity: 1;
  z-index: -1;
}

.container_3 > .core-vision > .core-vision-title {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: white;
}

.container_3 > .core-vision > .core-vision-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

/* .container_3 > .core-vision > .core-vision-info > .col-12 {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 0 20px;
} */

.container_3 > .core-vision > .core-vision-info > .col-12 > .video-circle {
  width: 260px;
  height: 260px;
  border-radius: 100%;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  object-fit: cover;
}

.container_3 > .core-vision > .core-vision-info > .col-12 > h1 {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}

.container_3 > .core-vision > .core-vision-info > .col-12 > p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-align: center;
  margin: 10px 0;
}

/* .container_3 > .border-bottom {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-align: center;
  margin: 10px 0;
}

.container_3 > .border-bottom {
    width: 100vw;
    position: absolute;
    bottom: -25px;
    left: 0;
    z-index: 66666;
  }
  .container_3 > .border-bottom > img {
    width: 100vw;
  } */

/* 4th section */
.container_4 {
  height: 100vh !important;
}

.container_4 > .development-roadmap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_4 > .development-roadmap > .bg-image {
  width: 30%;
  position: absolute;
  top: 10px;
  opacity: 1;
  z-index: -1;
}

.container_4 > .development-roadmap > .roadmap-title {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: white;
}

.v-images > .one,
.v-images > .two,
.v-images > .three {
  width: 100px;
  position: relative;
  left: -100px;
}

.container_4 > .development-roadmap > .row > .col-12 > .v-info {
  margin-top: -50px;
}

.container_4 > .development-roadmap > .row > .col-12 > .v-info > h1 {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.container_4 > .development-roadmap > .row > .col-12 > .v-info > p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

/* ************************************** */

.container_5 {
  height: 100vh !important;
}

.container_5 > .bg-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.container_5 > .row > .col-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container_5 > .row > .col-12 > p {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: 500;
  color: white;
  text-shadow: 1px 1px 5px #fff;
  text-align: left;
  margin: 10px 0;
}

.container_5 > .row > h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 5px #fff;
  text-align: left;
  margin: 10px 0;
}

.container_5 > .row > h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 5px #fff;
  text-align: left;
  margin: 10px 0;
}

.container_5 > .row > .col-12 > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.container_5 > .row > .col-12 > ul > li > a {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 5px #fff;
  text-decoration: none;
  margin: 0 15px;
}

.container_5 > .row > .col-12 > ul > li:nth-child(1) {
  margin-right: 15px !important;
  margin-left: 0px !important;
}
